<script src="/assets/js/main-js.js"></script>


<!-- !career from valid start -->


<!-- !career from valid end -->

<!-- !footer Start -->

<footer class="footer">
    <div class="footer-main bpo-container">
        <div class="footer-image">
            <p>BPOSTARS</p>

        </div>
        <div class="footer-links">
            <ul>

                <li><a href="/services">Services</a></li>
                <li><a href="/industries">Industries</a></li>
                <li><a href="/term-of-use">Terms-of-use</a></li>
                <li><a href="/privacy-policy">Privacy-Policy</a></li>
                <li><a href="/Career">Career</a></li>
            </ul>
        </div>
        <div class="footer-address">
            <ul>
                <li>Head Office: 404-B, Virani Business Center, Opp Bharat Gears Limited, Kausa Mumbra, Thane
                    400612.
                </li>
                <li> <a href="mailto:bpostar@gmail.com"><img src="/assets/images/mail.png" alt="">&nbsp
                        bpostar@gmail.com</a></li>
                <li><a href="tel:91 79779 07989"><img src="/assets/images/phone.png" alt="">&nbsp +91 98765 43210</a></li>


                <div class="footer-icons">
                    <a href="https://www.facebook.com/sovorun" target="_blank"> <img src="/assets/images/facebook.png" alt="facebook"></a>
                    <a href="https://twitter.com/sovorun" target="_blank"> <img src="/assets/images/twitter.png" alt="twitter"></a>
                    <a href="https://www.linkedin.com/company/sovorun" target="_blank"> <img src="/assets/images/linkedin.png" alt="linkedin"></a>
                    <a href="https://www.youtube.com/@Sovorun" target="_blank"> <img src="/assets/images/youtube.png" alt="youtube"></a>
                    <a href="https://www.instagram.com/sovorun/" target="_blank"> <img src="/assets/images/insta.png" alt="insta"></a>
                </div>
            </ul>
        </div>
    </div>



</footer>
<div class="footer-line">
    <p>© 2023 BPOSTARS. All rights reserved.</p>
    <p>Developed by Sovorun </p>
</div>




<!-- !footer End -->