  <!-- !newsletter Start -->

  <div class="bpo-container">
    <form action="/newsletter" method="post" id="newsletter-form" class="call-to-action">
        <div class="call-to-action__heading">
            <span>There is always something new in the Tech industry...</span>
            <h3>Stay updated with our newsletter</h3>
        </div>
        <div>

            <input id="call-to-action__email" type="email" name="email" placeholder="abc@example.com" required="1"
                autocomplete="off">
            <button type="submit" class="submit-btn" id="newsletter-submit">Submit</button>

        </div>

    </form>
</div>

<!-- !Newsletter End -->