<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Latests Insights at-Bpostar Blog</title>

    <meta name="description"
        content="Explore the latest blog posts from Bpostar. Stay updated on industry trends, best practices, and insights related to outsourcing solutions.">
    <meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 ">

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="Explore Latests Insights at-Bpostar Blog">
    <meta property="og:description"
        content="Explore the latest blog posts from Bpostar. Stay updated on industry trends, best practices, and insights related to outsourcing solutions.">
    <meta property="og:url" content="URL of your webpage">
    <link rel="canonical" href="https://www.bpo-service.com/" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:title" content="Explore Latests Insights at-Bpostar Blog">
    <meta name="twitter:description"
        content="Explore the latest blog posts from Bpostar. Stay updated on industry trends, best practices, and insights related to outsourcing solutions.">


    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <meta name="google-site-verification" content="WQmAU7y8_pc8RFSpTEW_tUrCOYdPH3fYoUkuv1L7LLw" />
    <meta name="msvalidate.01" content="3DC5FA7B9AFD9FFEDEBC3E3F28A365C9" />
    <meta name="p:domain_verify" content="990fa9c67de4a4c694cb63b851ad20ec" />

    <meta property="og:image" content="https://bpostar.onrender.com/assets/images/sharing-image.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bpo-service">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <meta name="twitter:image" content="https://bpostar.onrender.com/assets/images/sharing-image.png">
    <meta name="theme-color" content="#0F9EDC">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">


    <!-- !css links -->
    <!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/navbar-footer.css">
    <link rel="stylesheet" href="/assets/css/@media-query.css">
    <!-- <link rel="stylesheet" href="/assets/css/swiper.css"> -->

</head>

<body>

    <%- include('partials/navbar'); -%>

        <div class="blog-page-hero">
            <div class="bpo-container about-hero__heading">
                <h1>Join Our Team</h1>

                <p>Discover Exciting Career Opportunities</p>
            </div>
        </div>


        <div class="bpo-container">

            <div class="about-main">

                <div class="about-main__heading">
                    <h3>CAREER</h3>
                </div>
                <div class="about-main__content">
                    <p>Welcome to our career page! We're thrilled that you're considering a career with us. As a dynamic
                        and
                        innovative company in the field of Business Process Outsourcing (BPO), we're always on the
                        lookout
                        for talented individuals who are passionate about excellence and are ready to contribute their
                        skills to our growing team.</p>

                </div>
            </div>
        </div>

        <div class="career-main bpo-container section-lg-margin">
            <div class="career-card">

                <p><b>Tele-caller</b></p>
                <hr>
                <p>Should be ready to Work from Office - Monday to Friday, timing: 11:00 am to 8:00pm.</p>
                <div class="career-card__content">
                    <span>Date: 31, July 2023</span>
                    <span><b>Ansari Mohsin</b></span>
                </div>
                <a class="custom-btn-bg" href="/career-join-us">Know More</a>

            </div>




            <div class="career-card">

                <p><b>Management</b></p>
                <hr>

                <p>Should be ready to Work from Office - Monday to Friday, timing: 11:00 am to 8:00pm.</p>
                <div class="career-card__content">
                    <span>Date: 31, July 2023</span>
                    <span><b>Ansari Mohsin</b></span>
                </div>

                <a class="custom-btn-bg" href="/career-join-us">Know More</a>

            </div>


            <div class="career-card">

                <p><b>Asst. Manager</b></p>
                <hr>
                <p>Should be ready to Work from Office - Monday to Friday, timing: 11:00 am to 8:00pm.</p>
                <div class="career-card__content">
                    <span>Date: 31, July 2023</span>
                    <span><b>Ansari Mohsin</b></span>
                </div>

                <a class="custom-btn-bg" href="/career-join-us">Know More</a>

            </div>

            <div class="career-card">

                <p><b>Customer Executive</b></p>
                <hr>
                <p>Should be ready to Work from Office - Monday to Friday, timing: 11:00 am to 8:00pm.</p>
                <div class="career-card__content">
                    <span>Date: 31, July 2023</span>
                    <span><b>Ansari Mohsin</b></span>
                </div>

                <a class="custom-btn-bg" href="/career-join-us">Know More</a>

            </div>


        </div>

        <br>

        <%- include('partials/footer'); -%>
</body>

</html>