<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bpostar:Contact-Us</title>

    <meta name="description"
        content="Get in touch with Bpostar for any inquiries or assistance. Contact our team and learn more about how we can help you with efficient outsourcing solutions for your business processes.">
    <meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 ">

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="Bpostar:Contact-Us">
    <meta property="og:description"
        content="Get in touch with Bpostar for any inquiries or assistance. Contact our team and learn more about how we can help you with efficient outsourcing solutions for your business processes.">
    <meta property="og:url" content="URL of your webpage">
    <link rel="canonical" href="https://www.bpo-service.com/" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:title" content="Bpostar:Contact-Us">
    <meta name="twitter:description"
        content="Get in touch with Bpostar for any inquiries or assistance. Contact our team and learn more about how we can help you with efficient outsourcing solutions for your business processes.">


    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <meta name="google-site-verification" content="WQmAU7y8_pc8RFSpTEW_tUrCOYdPH3fYoUkuv1L7LLw" />
    <meta name="msvalidate.01" content="3DC5FA7B9AFD9FFEDEBC3E3F28A365C9" />
    <meta name="p:domain_verify" content="990fa9c67de4a4c694cb63b851ad20ec" />

    <meta property="og:image" content="https://bpostar.onrender.com/assets/images/sharing-image.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bpo-service">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <meta name="twitter:image" content="https://bpostar.onrender.com/assets/images/sharing-image.png">
    <meta name="theme-color" content="#0F9EDC">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">


    <!-- !css links -->
    <!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/navbar-footer.css">
    <link rel="stylesheet" href="/assets/css/@media-query.css">
    <!-- <link rel="stylesheet" href="/assets/css/swiper.css"> -->
    <style>
          .error-message {
        color: red;
        display: none;
    }
    </style>

</head>

<body>

    <%- include('partials/navbar'); -%>




        <!-- contact page Start -->

        <div class="blog-page-hero">
            <div class="bpo-container about-hero__heading">
                <h1>Request a Quote</h1>

                <p>Your Path to Tailored Solutions</p>
            </div>
        </div>

        <!-- contact page End -->

        <!-- contact page form start -->


        <div class="contact-page bpo-container section-lg-margin">
            <form id="myForm" action="/contact" method="post" class="contact-page__form">

                <label for="name">Hey! My name is</label>
                <input type="text" id="contact-name" name="name" placeholder="Type Here" required="1"
                    autocomplete="off" maxlength="50">

                <label for="dropdown">And I’m looking for</label>
                <select id="contact-select" name="dropdown" required="1" autocomplete="off">
                    <option value="web dev" disabled selected>Select an option</option>
                    <option value="Inbound Customer Support">Inbound Customer Support</option>
                    <option value="Seller Support">Seller Support</option>
                    <option value="Outbound Collections">Outbound Collections</option>
                    <option value="GST & CIN Verification">GST & CIN Verification</option>
                    <option value="Accounting & Financial Services">Accounting & Financial Services</option>
                    <option value="End to End Sales">End to End Sales</option>
                    <option value="Pre Saless">Pre Saless</option>
                    <option value="Outbound Surveys">Outbound Surveys</option>
                    <option value="Appointment Generation">Appointment Generation</option>
                    <option value="Chat support service">Chat support service</option>
                    <option value="Telemarketing Service">Telemarketing Service</option>
                    <option value="GST & CIN Verification">GST & CIN Verification</option>

                </select>
                <div class="contact-page__email">
                    <label for="email">Get in touch with me at</label>
                    <input type="email" id="contact-email" name="email" placeholder="Type Email Here" required="1"
                        autocomplete="off">

                    <label for="number">Or contact </label>
                    <input type="tel" id="contact-phone" name="phone" placeholder="Type Phone-Number Here"
                        required="1" autocomplete="off" maxlength="15">
                        <div id="phone-error" class="error-message"></div>
                </div>

                <div class="contact-page__btn">
                    <button type="submit" id="clearFormButton">Get Quote</button>
                </div>



            </form>
        </div>

    


        <!-- contact page form end-->

        <!-- contact page map start -->
        <div class="contact-page-map bpo-container section-lg-margin">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.8766709987844!2d73.03186007480335!3d19.156875049429363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf372420b63b%3A0x888f567b81cf0224!2sRhosigma%20Engineering%20%26%20Automations%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1699165665012!5m2!1sen!2sin"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- contact page map end-->


        <script>
                document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('myForm');

        form.addEventListener('submit', function (event) {
            // Validation for name
            var nameInput = document.getElementById('contact-name');
            var nameValue = nameInput.value.trim();
            if (containsNumbers(nameValue)) {
                displayErrorMessage('name-error', 'Name should not contain numbers.');
                event.preventDefault();
                return;
            } else {
                hideErrorMessage('name-error');
            }

            // Validation for email
            var emailInput = document.getElementById('contact-email');
            var emailValue = emailInput.value.trim();
            if (!isValidEmail(emailValue)) {
                displayErrorMessage('email-error', 'Please enter a valid email address.');
                event.preventDefault();
                return;
            } else {
                hideErrorMessage('email-error');
            }

            // Validation for number
            var phoneInput = document.getElementById('contact-phone');
            var phoneValue = phoneInput.value.trim();
            if (!isValidPhoneNumber(phoneValue)) {
                displayErrorMessage('phone-error', 'Please enter valid phone number (7 to 15 digits)');
                event.preventDefault();
                return;
            } else {
                hideErrorMessage('phone-error');
            }
        });

        function containsNumbers(input) {
            // Regular expression to check if the input contains any numbers
            var numberRegex = /\d/;
            return numberRegex.test(input);
        }

        function isValidEmail(email) {
            // Regular expression for a simple email validation
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        function isValidPhoneNumber(phone) {
            // Regular expression for a simple phone number validation
            var phoneRegex = /^\d{7,15}$/;
            return phoneRegex.test(phone);
        }

        function displayErrorMessage(id, message) {
            var errorElement = document.getElementById(id);
            if (errorElement) {
                errorElement.innerText = message;
                errorElement.style.display = 'block';
            }
        }

        function hideErrorMessage(id) {
            var errorElement = document.getElementById(id);
            if (errorElement) {
                errorElement.style.display = 'none';
            }
        }
    });
        </script>

        <script>
            // Get a reference to the form
            var form = document.getElementById("myForm");

            // Add an event listener for form submission
            form.addEventListener("submit", function () {
                // Get the value of the name input
                var nameInput = document.getElementById("contact-name");
                var nameValue = nameInput.value;

                // Set the value of the name input based on the value submitted
                var submittedName = document.querySelector("input[name='name']");
                submittedName.value = nameValue;
            });
        </script>

        <%- include('partials/footer'); -%>



</body>

</html>