<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bpostar:Privacy Policy</title>

    <meta name="description"
        content="Learn about Bpostar's privacy policy to understand how we handle your personal information. Your privacy and data security are important to us.">
    <meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 ">

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="Bpostar:Privacy Policy">
    <meta property="og:description"
        content="Learn about Bpostar's privacy policy to understand how we handle your personal information. Your privacy and data security are important to us.">
    <meta property="og:url" content="URL of your webpage">
    <link rel="canonical" href="https://www.bpo-service.com/" />

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:title" content="Bpostar:Privacy Policy">
    <meta name="twitter:description"
        content="Learn about Bpostar's privacy policy to understand how we handle your personal information. Your privacy and data security are important to us.">


    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <meta name="google-site-verification" content="WQmAU7y8_pc8RFSpTEW_tUrCOYdPH3fYoUkuv1L7LLw" />
    <meta name="msvalidate.01" content="3DC5FA7B9AFD9FFEDEBC3E3F28A365C9" />
    <meta name="p:domain_verify" content="990fa9c67de4a4c694cb63b851ad20ec" />

    <meta property="og:image" content="https://bpostar.onrender.com/assets/images/sharing-image.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bpo-service">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <meta name="twitter:image" content="https://bpostar.onrender.com/assets/images/sharing-image.png">
    <meta name="theme-color" content="#0F9EDC">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">


    <!-- !css links -->
    <!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/navbar-footer.css">
    <link rel="stylesheet" href="/assets/css/@media-query.css">
    <!-- <link rel="stylesheet" href="/assets/css/swiper.css"> -->

</head>

<body>

    <%- include('partials/navbar'); -%>


        <!-- about hero section Start -->

        <div class="about-hero">
            <div class="bpo-container about-hero__heading">
                <h1>Term Of Use</h1>
                <h2>Your BPO Partner for Tomorrow</h2>
                <p>Bringing Efficiency, Expertise, and Elevated Performance to Businesses Worldwide</p>
            </div>
        </div>

        <!-- about hero section End -->

        <!-- Termm of use main content Start -->

        <div class="bpo-container">
            <div class="term-use">
                <h2>Acceptance of Terms: </h2>
                <p>By accessing and using this website, you acknowledge that you have read, understood, and agree to be
                    bound by the terms and conditions outlined herein. If you do not agree with any part of these terms,
                    please refrain from using the website. Your continued use of the site constitutes your acceptance of
                    any
                    revisions or updates to these terms. It is your responsibility to review this page periodically for
                    changes. The terms apply to all visitors, users, and others who access or use the services provided
                    on
                    this website.</p>

                <h2>Acceptance of Terms: </h2>
                <p>By accessing and using this website, you acknowledge that you have read, understood, and agree to be
                    bound by the terms and conditions outlined herein. If you do not agree with any part of these terms,
                    please refrain from using the website. Your continued use of the site constitutes your acceptance of
                    any
                    revisions or updates to these terms. It is your responsibility to review this page periodically for
                    changes. The terms apply to all visitors, users, and others who access or use the services provided
                    on
                    this website.</p>
                <h2>Intellectual Property:</h2>
                <ul>
                    <li>Ownership: All content, trademarks, logos, graphics, and intellectual property on this website
                        are
                        the property of Burak Group, its subsidiaries like Rhosigma Engineering & Automation Pvt Ltd &
                        Sovorun unless otherwise stated. Use of our intellectual property without express permission is
                        strictly prohibited.</li>
                    <li>User Permissions: Users are granted a limited, non-exclusive, revocable license to access and
                        use
                        the content for personal or non-commercial purposes. Any unauthorized use, reproduction, or
                        distribution of our intellectual property is expressly prohibited.</li>
                    <li>Third-Party Content: Content originating from third parties is subject to their respective
                        intellectual property rights. Users are responsible for understanding and adhering to any
                        additional
                        terms associated with such content.</li>
                    <li>Notification of Violations: If you believe your intellectual property rights have been infringed
                        upon, please notify us promptly, providing details for us to investigate and address the issue.
                    </li>
                    <li>Notification of Violations: If you believe your intellectual property rights have been infringed
                        upon, please notify us promptly, providing details for us to investigate and address the issue.
                    </li>
                </ul>
            </div>




        </div>

        <%- include('partials/footer'); -%>
</body>

</html>